#wrapper{
	width: 380px;
}
#div_source{
	font-size:13px;
	line-height: 1.5em;
	border: solid 1px blue;
	padding: 8px;
	margin:12px 0px;
}
table{
	border:solid 1px orange;
	border-spacing:0px;
}
th,td{
	border:solid 1px orange;
	padding:4px;
}
